---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Blogs";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <p>Below it will be a list of my latest blogs.</p>

  <div>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost
            blogPostUrl={post.url}
            blogPostTitle={post.frontmatter.title}
          />
        ))
      }
    </ul>
  </div>
  <div></div>
</BaseLayout>
