---
import Social from "./Social.astro";
---

<footer>
  <p>
    Made by <Social platform="github" username="iaaron-xyz" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
